|||
|---|---|
|Title|nwtimetracking|
|Author|numbworks|
|Version|3.7.0|
||Please check [docs/docs-nwtimetracking.md](../docs/docs-nwtimetracking.md) before proceeding.|

#### Global Modules

In [1]:
from pandas import DataFrame
from pandas.io.formats.style import Styler

#### Local Modules

In [2]:
from nwtimetracking import SettingBag, DefaultPathProvider, YearProvider, SoftwareProjectNameProvider, TimeTrackingManager
from nwtimetracking import ComponentBag, MarkdownProcessor
from nwshared import VersionChecker, DisplayPreProcessor
from nwpackageversions import StatusChecker

#### Python Version Check

In [3]:
status : str = VersionChecker().get_python_version_status(required = (3, 12, 5))
print(status)

The installed Python version is matching the expected one (installed: '3.12.5', expected: '3.12.5').

#### Dependency Status Check

In [4]:
enable_dependency_status_check : bool = False

if enable_dependency_status_check:
    dockerfile_path : str = os.path.join(os.path.abspath(os.curdir).replace("src", ".devcontainer"), "Dockerfile")
    status_checker : StatusChecker = StatusChecker(logging_function = lambda x : None)
    print(status_checker.try_check(file_path = dockerfile_path))

#### Functions : Temp

#### Settings

In [5]:
setting_bag : SettingBag = SettingBag(
    years = YearProvider().get_all_years(),
    yearly_targets = YearProvider().get_all_yearly_targets(),
    excel_path = DefaultPathProvider().get_default_time_tracking_path(),
    excel_books_nrows = 1242,
    software_project_names = SoftwareProjectNameProvider().get_all_software_project_names(),
    software_project_names_by_spv = SoftwareProjectNameProvider().get_all_software_project_names_by_spv(), 
    tt_by_year_hashtag_years = [2024],
    show_tts_by_month_md = False,
    save_tts_by_month_md = False
)

#### Main : Analysis

In [6]:
tt_manager : TimeTrackingManager = TimeTrackingManager()
sessions_df : DataFrame = tt_manager.get_sessions_dataset(setting_bag = setting_bag)
dpp : DisplayPreProcessor = DisplayPreProcessor()      

if setting_bag.show_sessions_df:
    display(sessions_df.tail(n = setting_bag.n_generic))

In [7]:
if setting_bag.show_tt_by_year_df:
    
    tt_by_year_df : DataFrame = tt_manager.get_tt_by_year(
        sessions_df = sessions_df, 
        years = setting_bag.years, 
        yearly_targets = setting_bag.yearly_targets)
    
    styler : Styler = dpp.hide_index(df = tt_by_year_df)
    display(styler)

In [8]:
if setting_bag.show_tt_by_year_month_df:

    tt_by_year_month_df : DataFrame = tt_manager.get_tt_by_year_month(
        sessions_df = sessions_df, 
        years = setting_bag.years, 
        yearly_targets = setting_bag.yearly_targets)
    
    display(tt_by_year_month_df.tail(n = setting_bag.n_generic))

     Year  Month   Effort YearlyTotal   ToTarget
103  2024      6  48h 00m    321h 45m  -179h 45m
104  2024      7  67h 00m    388h 45m  -112h 45m
105  2024      8  32h 45m    421h 30m   -79h 30m
106  2024      9  48h 00m    469h 30m   -31h 30m
107  2024     10  79h 45m    549h 15m   +49h 15m

In [9]:
if setting_bag.show_tt_by_year_month_spnv_df:

    tt_by_year_month_spnv_df : DataFrame = tt_manager.get_tt_by_year_month_spnv(
        sessions_df = sessions_df, 
        years = setting_bag.years, 
        software_project_names = setting_bag.software_project_names)
    
    display(tt_by_year_month_spnv_df)

    tt_manager.try_print_definitions(df = tt_by_year_month_spnv_df, definitions = setting_bag.definitions)

In [10]:
if setting_bag.show_tt_by_year_spnv_df:

    tt_by_year_spnv_df : DataFrame = tt_manager.get_tt_by_year_spnv(
        sessions_df = sessions_df, 
        years = setting_bag.years, 
        software_project_names = setting_bag.software_project_names)
    
    display(tt_by_year_spnv_df)
    
    tt_manager.try_print_definitions(df = tt_by_year_spnv_df, definitions = setting_bag.definitions)

In [11]:
if setting_bag.show_tt_by_spn_df:

    tt_by_spn_df : DataFrame = tt_manager.get_tt_by_spn(
        sessions_df = sessions_df, 
        years = setting_bag.years, 
        software_project_names = setting_bag.software_project_names,
        remove_untagged = setting_bag.remove_untagged_from_de
        )
    
    styler : Styler = dpp.hide_index(df = tt_by_spn_df, formatters = { "%_DE" : "{:.2f}", "%_TE" : "{:.2f}" })
    display(styler)
    
    tt_manager.try_print_definitions(df = tt_by_spn_df, definitions = setting_bag.definitions)

DE: Development Effort
TE: Total Effort

In [12]:
if setting_bag.show_tt_by_spn_df:

    tt_by_spn_spv_df : DataFrame = tt_manager.get_tt_by_spn_spv(
        sessions_df = sessions_df, 
        years = setting_bag.years, 
        software_project_names = setting_bag.software_project_names_by_spv)
    
    styler : Styler = dpp.hide_index(df = tt_by_spn_spv_df)
    display(styler)

In [13]:
if setting_bag.show_tt_by_year_hashtag:

    tt_by_year_hashtag_df : DataFrame = tt_manager.get_tt_by_year_hashtag(
        sessions_df = sessions_df, 
        years = setting_bag.tt_by_year_hashtag_years)
    
    styler : Styler = dpp.hide_index(df = tt_by_year_hashtag_df)
    display(styler)

In [14]:
if setting_bag.show_tt_by_hashtag:
    tt_by_hashtag_df : DataFrame = tt_manager.get_tt_by_hashtag(sessions_df = sessions_df)
    styler : Styler = dpp.hide_index(df = tt_by_hashtag_df, formatters = { "Effort%" : "{:.2f}" })
    display(styler)

In [15]:
if setting_bag.show_tts_by_month_df:
    
    tts_by_month_df : DataFrame = tt_manager.get_tts_by_month(sessions_df = sessions_df, years = setting_bag.years)
    tts_by_month_upd_df : DataFrame = tt_manager.update_future_months_to_empty(tts_by_month_df = tts_by_month_df, now = setting_bag.now)

    if setting_bag.tts_by_month_update_future_values_to_empty:
        styler : Styler = dpp.hide_index(df = tts_by_month_upd_df)
        display(styler)
    else:
        styler : Styler = dpp.hide_index(df = tts_by_month_df)
        display(styler)

In [16]:
if (setting_bag.show_effort_status_df):
    
    es_df : DataFrame = tt_manager.add_effort_status(sessions_df = sessions_df)
    es_df = tt_manager.filter_by_is_correct(es_df = es_df, is_correct = setting_bag.effort_status_is_correct)
    
    if es_df.empty:
        styler : Styler = dpp.hide_index(df = es_df)
        display(styler)
    else:
        styler : Styler = dpp.hide_index(df = es_df.head(n = setting_bag.effort_status_n))
        display(styler)

In [17]:
if setting_bag.show_time_ranges_df:

    time_ranges_df : DataFrame = tt_manager.create_time_ranges_df(
        sessions_df = sessions_df, 
        unknown_id = setting_bag.time_ranges_unknown_id)
    
    if setting_bag.show_time_ranges_df:
        time_ranges_df = tt_manager.remove_unknown_id(
            time_ranges_df = time_ranges_df, 
            unknown_id = setting_bag.time_ranges_unknown_id)
        
    if setting_bag.time_ranges_filter_by_top_n:
        time_ranges_df = tt_manager.filter_by_top_n_occurrences(
            time_ranges_df = time_ranges_df, 
            n = setting_bag.time_ranges_top_n)

    styler : Styler = dpp.hide_index(df = time_ranges_df)
    display(styler)

#### Main : Markdown

In [18]:
component_bag : ComponentBag = ComponentBag()
markdown_processor : MarkdownProcessor = MarkdownProcessor(component_bag = component_bag, setting_bag = setting_bag)

markdown_processor.process_tts_by_month_md(tts_by_month_upd_df = tts_by_month_upd_df)