|||
|---|---|
|Title|nwtimetrackingmanager|
|Author|numbworks|
|Version|1.2.0|
||Please check [docs/docs-nwtimetrackingmanager.md](../docs/docs-nwtimetrackingmanager.md) before proceeding.|

#### Setup

In [764]:
install_dependencies : bool = False

if install_dependencies:
    %pip install pandas==1.5.2
    %pip install numpy==1.24.0
    %pip install openpyxl==3.0.10
    %pip install coverage==7.2.3

#### Global Modules

In [765]:
from datetime import datetime
from datetime import timedelta
from pandas import DataFrame

from pandas import Series

#### Local Modules

In [766]:
import nwtimetrackingmanager as nwttm
from nwtimetrackingmanager import YearlyTarget
from nwtimetrackingmanager import SettingCollection

#### Functions : Temp

#### Settings

In [767]:
setting_collection : SettingCollection = SettingCollection(
    years = [2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023],
    yearly_targets = [
        YearlyTarget(year = 2015, hours = timedelta(hours = 0)),
        YearlyTarget(year = 2016, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2017, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2018, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2019, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2020, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2021, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2022, hours = timedelta(hours = 400)),
        YearlyTarget(year = 2023, hours = timedelta(hours = 250)),
        YearlyTarget(year = 2024, hours = timedelta(hours = 250))
    ],
    excel_path = nwttm.get_default_time_tracking_path(),
    excel_books_skiprows = 0,
    excel_books_nrows = 920,
    excel_books_tabname = "Sessions",
    n_generic = 5,
    n_by_month = 12,
    now = datetime.now(),
    software_project_names = [
        "NW.MarkdownTables",
        "NW.NGramTextClassification",
        "NW.UnivariateForecasting",
        "NW.WIDJobs", 
        "nwtraderaanalytics", 
        "nwreadinglistmanager",
        "nwtimetrackingmanager"
	],
    software_project_names_by_spv = [
        "nwreadinglistmanager",
        "nwtimetrackingmanager"
	],    
    remove_untagged_from_de = True,
    definitions = { 
        "DME": "Development Monthly Effort",
        "TME": "Total Monthly Effort",
        "DYE": "Development Yearly Effort",
        "TYE": "Total Yearly Effort",
        "DE": "Development Effort",
        "TE": "Total Effort"
    },    
    tt_by_year_hashtag_years = [2023],
    tts_by_month_update_future_values_to_empty = True,     
    effort_status_n = 25,
    effort_status_is_correct = False,
    time_ranges_unknown_id = "Unknown",
    time_ranges_top_n = 5,
    time_ranges_remove_unknown_id = True,
    time_ranges_filter_by_top_n = True,
    show_sessions_df = False, 
    show_tt_by_year_df = True,
    show_tt_by_year_month_df = True,
    show_tt_by_year_month_spnv_df = False,
    show_tt_by_year_spnv_df = False, 
    show_tt_by_spn_df = True,
    show_tt_by_spn_spv_df = True,
    show_tt_by_year_hashtag = True,
    show_tts_by_month_df = True,
    show_effort_status_df = True,
    show_time_ranges_df = True
)

#### Main : Analysis

In [768]:
sessions_df : DataFrame = nwttm.get_sessions_dataset(setting_collection = setting_collection)

if setting_collection.show_sessions_df:
    display(sessions_df.tail(n = setting_collection.n_generic))

In [769]:
if setting_collection.show_tt_by_year_df:
    tt_by_year_df : DataFrame = nwttm.get_tt_by_year(
        sessions_df = sessions_df, 
        years = setting_collection.years, 
        yearly_targets = setting_collection.yearly_targets)
    display(tt_by_year_df)

   Year    Effort YearlyTarget TargetDiff  IsTargetMet
0  2015   18h 00m      00h 00m   +18h 00m         True
1  2016  615h 15m     500h 00m  +115h 15m         True
2  2017  762h 45m     500h 00m  +262h 45m         True
3  2018  829h 45m     500h 00m  +329h 45m         True
4  2019  515h 15m     500h 00m   +15h 15m         True
5  2020  470h 30m     500h 00m   -30h 30m        False
6  2021  537h 30m     500h 00m   +37h 30m         True
7  2022  467h 30m     400h 00m   +67h 30m         True
8  2023  295h 45m     250h 00m   +45h 45m         True

In [770]:
if setting_collection.show_tt_by_year_month_df:
    tt_by_year_month_df : DataFrame = nwttm.get_tt_by_year_month(
        sessions_df = sessions_df, 
        years = setting_collection.years, 
        yearly_targets = setting_collection.yearly_targets)
    display(tt_by_year_month_df.tail(n = setting_collection.n_generic))

    Year  Month   Effort YearlyTotal  ToTarget
92  2023      7  16h 30m    171h 30m  -79h 30m
93  2023      8  41h 30m    213h 00m  -37h 00m
94  2023      9  50h 15m    263h 15m  +13h 15m
95  2023     10  20h 00m    283h 15m  +33h 15m
96  2023     11  12h 30m    295h 45m  +45h 45m

In [771]:
if setting_collection.show_tt_by_year_month_spnv_df:
    tt_by_year_month_spnv_df : DataFrame = nwttm.get_tt_by_year_month_spnv(
        sessions_df = sessions_df, 
        years = setting_collection.years, 
        software_project_names = setting_collection.software_project_names)
    display(tt_by_year_month_spnv_df)
    nwttm.try_print_definitions(df = tt_by_year_month_spnv_df, definitions = setting_collection.definitions)

In [772]:
if setting_collection.show_tt_by_year_spnv_df:
    tt_by_year_spnv_df : DataFrame = nwttm.get_tt_by_year_spnv(
        sessions_df = sessions_df, 
        years = setting_collection.years, 
        software_project_names = setting_collection.software_project_names)
    display(tt_by_year_spnv_df)
    nwttm.try_print_definitions(df = tt_by_year_spnv_df, definitions = setting_collection.definitions)

In [773]:
if setting_collection.show_tt_by_spn_df:
    tt_by_spn_df : DataFrame = nwttm.get_tt_by_spn(
        sessions_df = sessions_df, 
        years = setting_collection.years, 
        software_project_names = setting_collection.software_project_names,
        remove_untagged = setting_collection.remove_untagged_from_de
        )
    display(tt_by_spn_df)
    nwttm.try_print_definitions(df = tt_by_spn_df, definitions = setting_collection.definitions)

,Hashtag,ProjectName,Effort,DE,%_DE,TE,%_TE
0,#python,nwtraderaanalytics,74h 00m,1426h 30m,5.19,1963h 30m,3.77
1,#python,nwreadinglistmanager,66h 30m,1426h 30m,4.66,1963h 30m,3.39
2,#python,nwtimetrackingmanager,44h 00m,1426h 30m,3.08,1963h 30m,2.24
3,#csharp,NW.WIDJobs,536h 45m,1426h 30m,37.63,1963h 30m,27.34
4,#csharp,NW.UnivariateForecasting,206h 15m,1426h 30m,14.46,1963h 30m,10.50
5,#csharp,NW.NGramTextClassification,189h 30m,1426h 30m,13.28,1963h 30m,9.65
6,#csharp,NW.MarkdownTables,17h 45m,1426h 30m,1.24,1963h 30m,0.90

DE: Development Effort
TE: Total Effort

In [774]:
if setting_collection.show_tt_by_spn_df:
    tt_by_spn_spv_df : DataFrame = nwttm.get_tt_by_spn_spv(
        sessions_df = sessions_df, 
        years = setting_collection.years, 
        software_project_names = setting_collection.software_project_names_by_spv)
    display(tt_by_spn_spv_df)

             ProjectName ProjectVersion   Effort
0   nwreadinglistmanager          1.0.0  45h 15m
1   nwreadinglistmanager          1.5.0  16h 15m
2   nwreadinglistmanager          1.6.0  05h 00m
3  nwtimetrackingmanager          1.0.0  31h 30m
4  nwtimetrackingmanager          1.1.0  10h 30m
5  nwtimetrackingmanager          1.2.0  02h 00m

In [775]:
if setting_collection.show_tt_by_year_hashtag:
    tt_by_year_hashtag : DataFrame = nwttm.get_tt_by_year_hashtag(
        sessions_df = sessions_df, 
        years = setting_collection.tt_by_year_hashtag_years)
    display(tt_by_year_hashtag)

   Year       Hashtag    Effort
0  2023       #csharp   67h 30m
1  2023  #maintenance   51h 00m
2  2023   #powershell   04h 30m
3  2023       #python  122h 30m
4  2023     #studying   50h 15m

In [776]:
if setting_collection.show_tts_by_month_df:
    
    tts_by_month_df : DataFrame = nwttm.get_tts_by_month(sessions_df = sessions_df, years = setting_collection.years)

    if setting_collection.tts_by_month_update_future_values_to_empty:
        tts_by_month_upd_df : DataFrame = nwttm.update_future_months_to_empty(tts_by_month_df = tts_by_month_df, now = setting_collection.now)
        display(tts_by_month_upd_df)
    else:
        display(tts_by_month_df)

,Month,2015,↕,2016,↕,2017,↕,2018,↕,2019,↕,2020,↕,2021,↕,2022,↕,2023
0,1,00h 00m,↑,18h 00m,↑,88h 30m,↓,80h 15m,↓,60h 00m,↓,29h 15m,↑,53h 00m,↓,00h 00m,↑,06h 00m
1,2,00h 00m,↑,45h 30m,↑,65h 30m,↑,90h 45m,↓,73h 00m,↓,38h 00m,↓,31h 30m,↓,03h 00m,↑,24h 00m
2,3,00h 00m,↑,20h 45m,↑,71h 45m,↑,89h 00m,↓,75h 30m,↓,35h 00m,↑,40h 30m,↓,06h 15m,↑,50h 15m
3,4,00h 00m,↑,37h 30m,↑,68h 00m,↑,88h 30m,↓,59h 45m,↓,40h 45m,↓,19h 00m,↑,27h 30m,↓,19h 00m
4,5,00h 00m,↑,53h 00m,↑,83h 00m,↑,91h 15m,↓,54h 45m,↓,14h 30m,↑,112h 45m,↓,49h 45m,↓,31h 00m
5,6,00h 00m,↑,57h 45m,↓,37h 45m,↑,62h 00m,↓,29h 15m,↓,12h 00m,↑,54h 00m,↑,73h 30m,↓,24h 45m
6,7,00h 00m,↑,46h 45m,↑,65h 30m,↑,69h 30m,↓,24h 15m,↑,34h 00m,↓,23h 30m,↑,51h 00m,↓,16h 30m
7,8,00h 00m,↑,25h 45m,↑,45h 45m,↑,72h 00m,↓,06h 00m,↑,32h 00m,↑,110h 00m,↓,36h 30m,↑,41h 30m
8,9,00h 00m,↑,89h 30m,↓,43h 45m,↑,64h 00m,↓,39h 00m,↑,44h 00m,↓,43h 30m,↑,69h 00m,↓,50h 15m
9,10,08h 00m,↑,82h 15m,↓,64h 30m,↓,46h 45m,↓,45h 30m,↑,48h 00m,↓,35h 30m,↑,38h 30m,↓,20h 00m
10,11,10h 00m,↑,74h 30m,↓,50h 00m,↓,30h 00m,↑,38h 45m,↓,35h 30m,↓,13h 15m,↑,58h 15m,↓,12h 30m
11,12,00h 00m,↑,64h 00m,↑,78h 45m,↓,45h 45m,↓,09h 30m,↑,107h 30m,↓,01h 00m,↑,54h 15m,,

In [777]:
if (setting_collection.show_effort_status_df):
    
    es_df : DataFrame = nwttm.add_effort_status(sessions_df = sessions_df)
    es_df = nwttm.filter_by_is_correct(es_df = es_df, is_correct = setting_collection.effort_status_is_correct)
    
    if es_df.empty:
        display(es_df)
    else:
        display(es_df.head(n = setting_collection.effort_status_n))

Empty DataFrame
Columns: [StartTime, EndTime, Effort, ES_IsCorrect, ES_Expected, ES_Message]
Index: []

In [778]:
if setting_collection.show_time_ranges_df:

    time_ranges_df : DataFrame = nwttm.create_time_ranges_df(
        sessions_df = sessions_df, 
        unknown_id = setting_collection.time_ranges_unknown_id)
    
    if setting_collection.show_time_ranges_df:
        time_ranges_df = nwttm.remove_unknown_id(
            time_ranges_df = time_ranges_df, 
            unknown_id = setting_collection.time_ranges_unknown_id)
        
    if setting_collection.time_ranges_filter_by_top_n:
        time_ranges_df = nwttm.filter_by_top_n_occurrences(
            time_ranges_df = time_ranges_df, 
            n = setting_collection.time_ranges_top_n)

    display(time_ranges_df)

   TimeRangeId  Occurrences
0  18:00-20:00           19
1  08:00-08:30           18
2  19:00-20:00           15
3  17:00-20:00           10
4  17:30-18:00           10