|||
|---|---|
|Title|nwtimetrackingmanager|
|Author|numbworks|
|Version|1.0.0|
||Please check [docs/docs-nwtimetrackingmanager.md](../docs/docs-nwtimetrackingmanager.md) before proceeding.|

#### Setup

In [816]:
install_dependencies : bool = False

if install_dependencies:
    %pip install pandas==1.5.2
    %pip install numpy==1.24.0
    %pip install openpyxl==3.0.10
    %pip install coverage==7.2.3

#### Global Modules

In [817]:
from datetime import datetime
from datetime import timedelta
from pandas import DataFrame

#### Local Modules

In [818]:
import nwtimetrackingmanager as nwttm
from nwtimetrackingmanager import YearlyTarget
from nwtimetrackingmanager import SettingCollection

#### Functions : Temp

#### Settings

In [819]:
setting_collection : SettingCollection = SettingCollection(
    years = [2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023],
    yearly_targets = [
        YearlyTarget(year = 2015, hours = timedelta(hours = 0)),
        YearlyTarget(year = 2016, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2017, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2018, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2019, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2020, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2021, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2022, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2023, hours = timedelta(hours = 400))
    ],
    excel_path = nwttm.get_default_time_tracking_path(),
    excel_books_skiprows = 0,
    excel_books_nrows = 188,
    excel_books_tabname = "Sessions",
    n_generic = 5,
    n_by_month = 12,
    now = datetime.now(),
    software_project_names = [
        "nwtraderaanalytics", 
        "nwreadinglistmanager",
        "nwtimetrackingmanager"
	],
    show_sessions_df = True,
    show_tt_by_year_df = True,
    show_tt_by_year_month_df = True,
    show_tt_by_year_month_spnv_df = True,
    show_tt_by_year_spnv_df = True
)

#### Main : Analysis

In [820]:
sessions_df : DataFrame = nwttm.get_sessions_dataset(setting_collection = setting_collection)

if setting_collection.show_sessions_df:
    display(sessions_df.head(n = setting_collection.n_generic))

,Date,StartTime,EndTime,Effort,Hashtag,Descriptor,IsSoftwareProject,IsReleaseDay,Year,Month
0,2015-10-31,nan,nan,8h 00m,#untagged,nan,False,False,2015,10
1,2015-11-30,nan,nan,10h 00m,#untagged,nan,False,False,2015,11
2,2015-12-31,nan,nan,0h 00m,#untagged,nan,False,False,2015,12
3,2016-01-31,nan,nan,18h 00m,#untagged,nan,False,False,2016,1
4,2016-02-28,nan,nan,45h 30m,#untagged,nan,False,False,2016,2

In [821]:
tt_by_year_df : DataFrame = nwttm.get_tt_by_year(
    sessions_df = sessions_df, 
    years = setting_collection.years, 
    yearly_targets = setting_collection.yearly_targets
    )

if setting_collection.show_tt_by_year_df:
    display(tt_by_year_df)

   Year    Effort YearlyTarget TargetDiff  IsTargetMet
0  2015   18h 00m      00h 00m   +18h 00m         True
1  2016  615h 15m     500h 00m  +115h 15m         True
2  2017  762h 45m     500h 00m  +262h 45m         True
3  2018  829h 45m     500h 00m  +329h 45m         True
4  2019  515h 45m     500h 00m   +15h 45m         True
5  2020  471h 30m     500h 00m   -29h 30m        False
6  2021  538h 00m     500h 00m   +38h 00m         True
7  2022  470h 45m     500h 00m   -30h 45m        False
8  2023  253h 30m     400h 00m  -147h 30m        False

In [822]:
tt_by_year_month_df : DataFrame = nwttm.get_tt_by_year_month(
    sessions_df = sessions_df, 
    years = setting_collection.years, 
    yearly_targets = setting_collection.yearly_targets
    )

if setting_collection.show_tt_by_year_month_df:
    display(tt_by_year_month_df.tail(n = setting_collection.n_generic))

    Year  Month   Effort YearlyTotal   ToTarget
91  2023      5  31h 00m    129h 15m  -271h 15m
92  2023      6  24h 45m    154h 00m  -246h 00m
93  2023      7  16h 30m    170h 30m  -230h 30m
94  2023      8  41h 30m    212h 00m  -188h 00m
95  2023      9  41h 30m    253h 30m  -147h 30m

In [823]:
tt_by_year_month_spnv_df : DataFrame = nwttm.get_tt_by_year_month_spnv(
    sessions_df = sessions_df, 
    years = setting_collection.years, 
    software_project_names = setting_collection.software_project_names
    )

if setting_collection.show_tt_by_year_month_spnv_df:
    display(tt_by_year_month_spnv_df)

,Year,Month,ProjectName,ProjectVersion,Effort,DME,%_DME,TME,%_TME
0,2023,4,nwtraderaanalytics,2.0.0,09h 15m,09h 15m,100.00,19h 00m,48.68
1,2023,6,nwreadinglistmanager,1.0.0,06h 45m,11h 45m,57.45,24h 45m,27.27
2,2023,7,nwreadinglistmanager,1.0.0,16h 30m,16h 30m,100.00,16h 30m,100.00
3,2023,8,nwreadinglistmanager,1.0.0,22h 00m,22h 00m,100.00,41h 30m,53.01
4,2023,9,nwreadinglistmanager,1.5.0,16h 15m,24h 15m,67.01,41h 30m,39.16
5,2023,9,nwreadinglistmanager,1.6.0,05h 00m,24h 15m,20.62,41h 30m,12.05
6,2023,9,nwtimetrackingmanager,1.0.0,03h 00m,24h 15m,12.37,41h 30m,7.23

In [824]:
tt_by_year_spnv_df : DataFrame = nwttm.get_tt_by_year_spnv(
    sessions_df = sessions_df, 
    years = setting_collection.years, 
    software_project_names = setting_collection.software_project_names
    )

if setting_collection.show_tt_by_year_spnv_df:
    display(tt_by_year_spnv_df)

,Year,ProjectName,ProjectVersion,Effort,DYE,%_DYE,TYE,%_TYE
0,2023,nwreadinglistmanager,1.0.0,45h 15m,93h 15m,48.53,253h 30m,17.85
1,2023,nwreadinglistmanager,1.5.0,16h 15m,93h 15m,17.43,253h 30m,6.41
2,2023,nwreadinglistmanager,1.6.0,05h 00m,93h 15m,5.36,253h 30m,1.97
3,2023,nwtimetrackingmanager,1.0.0,03h 00m,93h 15m,3.22,253h 30m,1.18
4,2023,nwtraderaanalytics,2.0.0,09h 15m,93h 15m,9.92,253h 30m,3.65