|||
|---|---|
|Title|nwtimetrackingmanager|
|Author|numbworks|
|Version|1.0.0|
||Please check [docs/docs-nwtimetrackingmanager.md](../docs/docs-nwtimetrackingmanager.md) before proceeding.|

#### Setup

In [34]:
install_dependencies : bool = False

if install_dependencies:
    %pip install pandas==1.5.2
    %pip install numpy==1.24.0
    %pip install openpyxl==3.0.10
    %pip install coverage==7.2.3

#### Global Modules

In [35]:
from datetime import datetime
from datetime import timedelta
from pandas import DataFrame

#### Local Modules

In [36]:
import nwtimetrackingmanager as nwttm
from nwtimetrackingmanager import YearlyTarget
from nwtimetrackingmanager import SettingCollection

#### Functions : Temp

#### Settings

In [37]:
setting_collection : SettingCollection = SettingCollection(
    years = [2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023],
    yearly_targets = [
        YearlyTarget(year = 2015, hours = timedelta(hours = 0)),
        YearlyTarget(year = 2016, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2017, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2018, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2019, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2020, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2021, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2022, hours = timedelta(hours = 400)),
        YearlyTarget(year = 2023, hours = timedelta(hours = 250))
    ],
    excel_path = nwttm.get_default_time_tracking_path(),
    excel_books_skiprows = 0,
    excel_books_nrows = 885,
    excel_books_tabname = "Sessions",
    n_generic = 5,
    n_by_month = 12,
    now = datetime.now(),
    software_project_names = [
        "NW.MarkdownTables",
        "NW.NGramTextClassification",
        "NW.UnivariateForecasting",
        "NW.WIDJobs", 
        "nwtraderaanalytics", 
        "nwreadinglistmanager",
        "nwtimetrackingmanager"
	],
    remove_untagged_from_de = True,
    definitions = { 
        "DME": "Development Monthly Effort",
        "TME": "Total Monthly Effort",
        "DYE": "Development Yearly Effort",
        "TYE": "Total Yearly Effort",
        "DE": "Development Effort",
        "TE": "Total Effort"
    },
    show_sessions_df = True,
    show_tt_by_year_df = True,
    show_tt_by_year_month_df = True,
    show_tt_by_year_month_spnv_df = False,
    show_tt_by_year_spnv_df = False,
    show_tt_by_spn_df = True,
    show_tts_by_month_df = True,
    show_future_values_in_tts_by_month = False
)

#### Main : Analysis

In [38]:
sessions_df : DataFrame = nwttm.get_sessions_dataset(setting_collection = setting_collection)

if setting_collection.show_sessions_df:
    display(sessions_df.head(n = setting_collection.n_generic))

,Date,StartTime,EndTime,Effort,Hashtag,Descriptor,IsSoftwareProject,IsReleaseDay,Year,Month
0,2015-10-31,nan,nan,8h 00m,#untagged,nan,False,False,2015,10
1,2015-11-30,nan,nan,10h 00m,#untagged,nan,False,False,2015,11
2,2015-12-31,nan,nan,0h 00m,#untagged,nan,False,False,2015,12
3,2016-01-31,nan,nan,18h 00m,#untagged,nan,False,False,2016,1
4,2016-02-28,nan,nan,45h 30m,#untagged,nan,False,False,2016,2

In [39]:
tt_by_year_df : DataFrame = nwttm.get_tt_by_year(
    sessions_df = sessions_df, 
    years = setting_collection.years, 
    yearly_targets = setting_collection.yearly_targets
    )

if setting_collection.show_tt_by_year_df:
    display(tt_by_year_df)

   Year    Effort YearlyTarget TargetDiff  IsTargetMet
0  2015   18h 00m      00h 00m   +18h 00m         True
1  2016  615h 15m     500h 00m  +115h 15m         True
2  2017  762h 45m     500h 00m  +262h 45m         True
3  2018  829h 45m     500h 00m  +329h 45m         True
4  2019  515h 15m     500h 00m   +15h 15m         True
5  2020  470h 30m     500h 00m   -30h 30m        False
6  2021  540h 00m     500h 00m   +40h 00m         True
7  2022  468h 15m     400h 00m   +68h 15m         True
8  2023  283h 00m     250h 00m   +33h 00m         True

In [40]:
tt_by_year_month_df : DataFrame = nwttm.get_tt_by_year_month(
    sessions_df = sessions_df, 
    years = setting_collection.years, 
    yearly_targets = setting_collection.yearly_targets
    )

if setting_collection.show_tt_by_year_month_df:
    display(tt_by_year_month_df.tail(n = setting_collection.n_generic))

    Year  Month   Effort YearlyTotal  ToTarget
91  2023      6  24h 45m    155h 00m  -95h 00m
92  2023      7  16h 30m    171h 30m  -79h 30m
93  2023      8  41h 30m    213h 00m  -37h 00m
94  2023      9  50h 00m    263h 00m  +13h 00m
95  2023     10  20h 00m    283h 00m  +33h 00m

In [41]:
tt_by_year_month_spnv_df : DataFrame = nwttm.get_tt_by_year_month_spnv(
    sessions_df = sessions_df, 
    years = setting_collection.years, 
    software_project_names = setting_collection.software_project_names
    )

if setting_collection.show_tt_by_year_month_spnv_df:
    display(tt_by_year_month_spnv_df)
    nwttm.try_print_definitions(df = tt_by_year_month_spnv_df, definitions = setting_collection.definitions)

In [42]:
tt_by_year_spnv_df : DataFrame = nwttm.get_tt_by_year_spnv(
    sessions_df = sessions_df, 
    years = setting_collection.years, 
    software_project_names = setting_collection.software_project_names
    )

if setting_collection.show_tt_by_year_spnv_df:
    display(tt_by_year_spnv_df)
    nwttm.try_print_definitions(df = tt_by_year_spnv_df, definitions = setting_collection.definitions)

In [43]:
tt_by_spn_df : DataFrame = nwttm.get_tt_by_spn(
    sessions_df = sessions_df, 
    years = setting_collection.years, 
    software_project_names = setting_collection.software_project_names,
    remove_untagged = setting_collection.remove_untagged_from_de
    )

if setting_collection.show_tt_by_spn_df:
    display(tt_by_spn_df)
    nwttm.try_print_definitions(df = tt_by_spn_df, definitions = setting_collection.definitions)

,Hashtag,ProjectName,Effort,DE,%_DE,TE,%_TE
0,#python,nwtraderaanalytics,72h 00m,1418h 15m,5.08,1954h 00m,3.68
1,#python,nwreadinglistmanager,66h 30m,1418h 15m,4.69,1954h 00m,3.40
2,#python,nwtimetrackingmanager,31h 30m,1418h 15m,2.22,1954h 00m,1.61
3,#csharp,NW.WIDJobs,542h 45m,1418h 15m,38.27,1954h 00m,27.78
4,#csharp,NW.UnivariateForecasting,206h 00m,1418h 15m,14.52,1954h 00m,10.54
5,#csharp,NW.NGramTextClassification,190h 30m,1418h 15m,13.43,1954h 00m,9.75
6,#csharp,NW.MarkdownTables,17h 45m,1418h 15m,1.25,1954h 00m,0.91

DE: Development Effort
TE: Total Effort

In [44]:
tts_by_month_df : DataFrame = nwttm.get_tts_by_month(sessions_df = sessions_df, years = setting_collection.years)

if setting_collection.show_tts_by_month_df and setting_collection.show_future_values_in_tts_by_month:
    display(tts_by_month_df)
else:
    tts_by_month_upd_df : DataFrame = nwttm.update_future_months_to_empty(tts_by_month_df = tts_by_month_df, now = setting_collection.now)
    display(tts_by_month_upd_df)

,Month,2015,↕,2016,↕,2017,↕,2018,↕,2019,↕,2020,↕,2021,↕,2022,↕,2023
0,1,00h 00m,↑,18h 00m,↑,88h 30m,↓,80h 15m,↓,60h 00m,↓,29h 15m,↑,54h 00m,↓,00h 00m,↑,06h 00m
1,2,00h 00m,↑,45h 30m,↑,65h 30m,↑,90h 45m,↓,73h 00m,↓,38h 00m,↓,31h 30m,↓,03h 00m,↑,24h 00m
2,3,00h 00m,↑,20h 45m,↑,71h 45m,↑,89h 00m,↓,75h 30m,↓,35h 00m,↑,41h 00m,↓,06h 15m,↑,50h 15m
3,4,00h 00m,↑,37h 30m,↑,68h 00m,↑,88h 30m,↓,59h 45m,↓,40h 45m,↓,19h 00m,↑,27h 30m,↓,19h 00m
4,5,00h 00m,↑,53h 00m,↑,83h 00m,↑,91h 15m,↓,54h 45m,↓,14h 30m,↑,112h 45m,↓,50h 45m,↓,31h 00m
5,6,00h 00m,↑,57h 45m,↓,37h 45m,↑,62h 00m,↓,29h 45m,↓,12h 00m,↑,54h 00m,↑,74h 30m,↓,24h 45m
6,7,00h 00m,↑,46h 45m,↑,65h 30m,↑,69h 30m,↓,24h 15m,↑,34h 00m,↓,23h 30m,↑,52h 00m,↓,16h 30m
7,8,00h 00m,↑,25h 45m,↑,45h 45m,↑,72h 00m,↓,06h 00m,↑,32h 00m,↑,112h 00m,↓,36h 30m,↑,41h 30m
8,9,00h 00m,↑,89h 30m,↓,43h 45m,↑,64h 00m,↓,39h 00m,↑,44h 00m,↑,44h 30m,↑,70h 00m,↓,50h 00m
9,10,08h 00m,↑,82h 15m,↓,64h 30m,↓,46h 45m,↓,45h 30m,↑,47h 30m,↓,35h 30m,↑,37h 30m,↓,20h 00m
10,11,10h 00m,↑,74h 30m,↓,50h 00m,↓,30h 00m,↑,38h 15m,↓,35h 30m,↓,11h 15m,↑,58h 00m,,
11,12,00h 00m,↑,64h 00m,↑,78h 45m,↓,45h 45m,↓,09h 30m,↑,108h 00m,↓,01h 00m,↑,52h 15m,,