|||
|---|---|
|Title|nwtimetrackingmanager|
|Author|numbworks|
|Version|1.0.0|
||Please check [docs/docs-nwtimetrackingmanager.md](../docs/docs-nwtimetrackingmanager.md) before proceeding.|

#### Setup

In [440]:
install_dependencies : bool = False

if install_dependencies:
    %pip install pandas==1.5.2
    %pip install numpy==1.24.0
    %pip install openpyxl==3.0.10
    %pip install coverage==7.2.3

#### Global Modules

In [441]:
from datetime import datetime
from datetime import timedelta
from pandas import DataFrame

#### Local Modules

In [442]:
import nwtimetrackingmanager as nwttm
from nwtimetrackingmanager import YearlyTarget
from nwtimetrackingmanager import SettingCollection

#### Functions : Temp

#### Settings

In [443]:
setting_collection : SettingCollection = SettingCollection(
    years = [2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023],
    yearly_targets = [
        YearlyTarget(year = 2015, hours = timedelta(hours = 0)),
        YearlyTarget(year = 2016, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2017, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2018, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2019, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2020, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2021, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2022, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2023, hours = timedelta(hours = 400))
    ],
    excel_path = nwttm.get_default_time_tracking_path(),
    excel_books_skiprows = 0,
    excel_books_nrows = 178,
    excel_books_tabname = "Sessions",
    n_generic = 5,
    n_by_month = 12,
    now = datetime.now(),
    show_sessions_df = True,
    show_tt_by_year_df = False,
    show_tt_by_year_month_df = True
)

#### Main : Analysis

In [444]:
sessions_df : DataFrame = nwttm.get_sessions_dataset(setting_collection = setting_collection)

if setting_collection.show_sessions_df:
    display(sessions_df.head(n = setting_collection.n_generic))

,Date,StartTime,EndTime,Duration,Hashtag,Descriptor,IsSoftwareProject,IsReleaseDay,Year,Month
0,2015-10-31,nan,nan,8h 00m,#untagged,nan,False,False,2015,10
1,2015-11-30,nan,nan,10h 00m,#untagged,nan,False,False,2015,11
2,2015-12-31,nan,nan,0h 00m,#untagged,nan,False,False,2015,12
3,2016-01-31,nan,nan,18h 00m,#untagged,nan,False,False,2016,1
4,2016-02-28,nan,nan,45h 30m,#untagged,nan,False,False,2016,2

In [445]:
tt_by_year_df : DataFrame = nwttm.get_tt_by_year(
    sessions_df = sessions_df, 
    years = setting_collection.years, 
    yearly_targets = setting_collection.yearly_targets
    )

if setting_collection.show_tt_by_year_df:
    display(tt_by_year_df)

In [446]:
tt_by_year_month_df : DataFrame = nwttm.get_tt_by_year_month(
    sessions_df = sessions_df, 
    years = setting_collection.years, 
    yearly_targets = setting_collection.yearly_targets
    )

if setting_collection.show_tt_by_year_month_df:
    display(tt_by_year_month_df.tail(n = setting_collection.n_generic))

    Year  Month Duration YearlyTotal   ToTarget
91  2023      5  31h 00m    129h 15m  -271h 15m
92  2023      6  24h 45m    154h 00m  -246h 00m
93  2023      7  16h 30m    170h 30m  -230h 30m
94  2023      8  41h 30m    212h 00m  -188h 00m
95  2023      9  22h 30m    234h 30m  -166h 30m