|||
|---|---|
|Title|nwtimetracking|
|Author|numbworks|
|Version|3.9.0|
||Please check [docs/docs-nwtimetracking.md](../docs/docs-nwtimetracking.md) before proceeding.|

#### Global Modules

In [76]:
from pandas import DataFrame
from typing import Optional

[autoreload of nwtimetracking failed: Traceback (most recent call last):
  File "/usr/local/lib/python3.12/site-packages/IPython/extensions/autoreload.py", line 276, in check
    superreload(m, reload, self.old_objects)
  File "/usr/local/lib/python3.12/site-packages/IPython/extensions/autoreload.py", line 500, in superreload
    update_generic(old_obj, new_obj)
  File "/usr/local/lib/python3.12/site-packages/IPython/extensions/autoreload.py", line 397, in update_generic
    update(a, b)
  File "/usr/local/lib/python3.12/site-packages/IPython/extensions/autoreload.py", line 349, in update_class
    if update_generic(old_obj, new_obj):
       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.12/site-packages/IPython/extensions/autoreload.py", line 397, in update_generic
    update(a, b)
  File "/usr/local/lib/python3.12/site-packages/IPython/extensions/autoreload.py", line 309, in update_function
    setattr(old, name, getattr(new, name))
ValueError: __init__() requires a code object with 8 free vars, not 9
]

#### Local Modules

In [77]:
from nwtimetracking import SettingBag, DefaultPathProvider, YearProvider, SoftwareProjectNameProvider, TimeTrackingProcessor
from nwtimetracking import ComponentBag, TTMarkdownFactory
from nwpackageversions import LanguageChecker, RequirementChecker, RequirementSummary

#### Language/Requirement Checks

In [78]:
enable_language_status_check : bool = True
enable_requirement_status_check : bool = False

if enable_language_status_check:
    language_status : str = LanguageChecker().get_version_status(required = (3, 12, 5))
    print(language_status)

if enable_requirement_status_check:
    requirement_checker : RequirementChecker = RequirementChecker(logging_function = LambdaCollection().do_nothing_function())
    dockerfile_path : str = requirement_checker.get_default_devcointainer_dockerfile_path()
    requirement_status : Optional[RequirementSummary] = requirement_checker.try_check(file_path = dockerfile_path)
    print(requirement_status)

The installed Python version is matching the expected one (installed: '3.12.5', expected: '3.12.5').

#### Functions : Temp

#### Settings

In [79]:
setting_bag : SettingBag = SettingBag(
    options_tt = ["display"],
    options_tts_by_month = ["display", "save"],
    options_tts_by_year = ["display"],
    options_tts_by_year_month = ["display"],
    options_tts_by_year_month_spnv = ["display"],
    options_tts_by_spn = ["display"],
    options_tts_by_spn_spv = ["display"],
    options_tts_by_hashtag = ["display"],
    options_tts_by_hashtag_year = ["display"],
    options_tts_by_efs = ["display"],
    options_tts_by_tr = ["display"],
    options_definitions = ["display"],
    excel_nrows = 1301,
    tts_by_year_month_spnv_display_only = "nwtimetracking"
)

#### Main : Analysis

In [80]:
tt_processor : TimeTrackingProcessor = TimeTrackingProcessor(component_bag = ComponentBag(), setting_bag = setting_bag)
tt_processor.initialize()
tt_processor.process_tt()

In [81]:
tt_processor.process_tts_by_month()

This content (id: 'tts_by_month') has been successfully saved as '/home/nwtimetracking/TIMETRACKINGBYMONTH.md'.

In [82]:
tt_processor.process_tts_by_year()

In [83]:
tt_processor.process_tts_by_year_month()

In [84]:
tt_processor.process_tts_by_year_month_spnv()