|||
|---|---|
|Title|nwtimetrackingmanager|
|Author|numbworks|
|Version|1.0.0|
||Please check [docs/docs-nwtimetrackingmanager.md](../docs/docs-nwtimetrackingmanager.md) before proceeding.|

#### Setup

In [208]:
install_dependencies : bool = False

if install_dependencies:
    %pip install pandas==1.5.2
    %pip install numpy==1.24.0
    %pip install openpyxl==3.0.10
    %pip install coverage==7.2.3

#### Global Modules

In [209]:
from datetime import datetime
from datetime import timedelta
from pandas import DataFrame

#### Local Modules

In [210]:
import nwtimetrackingmanager as nwttm
from nwtimetrackingmanager import YearlyTarget
from nwtimetrackingmanager import SettingCollection

#### Functions : Temp

#### Settings

In [211]:
setting_collection : SettingCollection = SettingCollection(
    years = [2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023],
    yearly_targets = [
        YearlyTarget(year = 2015, hours = timedelta(hours = 0)),
        YearlyTarget(year = 2016, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2017, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2018, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2019, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2020, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2021, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2022, hours = timedelta(hours = 500)),
        YearlyTarget(year = 2023, hours = timedelta(hours = 400))
    ],
    excel_path = nwttm.get_default_time_tracking_path(),
    excel_books_skiprows = 0,
    excel_books_nrows = 152,
    excel_books_tabname = "Sessions",
    n_generic = 5,
    n_by_month = 12,
    now = datetime.now(),
    show_sessions_df = True,
)

#### Main : Analysis

In [212]:
sessions_df : DataFrame = nwttm.get_sessions_dataset(setting_collection = setting_collection)

if setting_collection.show_sessions_df:
    display(sessions_df.head(n = setting_collection.n_generic))

,Date,StartTime,EndTime,Duration,Hashtag,Description,ProjectName,ProjectVersion,IsReleaseDate,Year,Month
0,2015-10-31,nan,nan,8h 00m,#untagged,nan,NaN,nan,nan,2015,10
1,2015-11-30,nan,nan,10h 00m,#untagged,nan,NaN,nan,nan,2015,11
2,2015-12-31,nan,nan,0h 00m,#untagged,nan,NaN,nan,nan,2015,12
3,2016-01-31,nan,nan,18h 00m,#untagged,nan,NaN,nan,nan,2016,1
4,2016-02-28,nan,nan,45h 30m,#untagged,nan,NaN,nan,nan,2016,2

In [213]:
tt_by_year_df : DataFrame = nwttm.get_tt_by_year(
    sessions_df = sessions_df, 
    years = setting_collection.years, 
    yearly_targets = setting_collection.yearly_targets
    )

display(tt_by_year_df)

   Year         Duration     YearlyTarget TargetDiff  IsTargetMet
0  2015  0 days 18:00:00  0 days 00:00:00   +18h 00m         True
1  2016 25 days 15:15:00 20 days 20:00:00  +115h 15m         True
2  2017 31 days 18:45:00 20 days 20:00:00  +262h 45m         True
3  2018 34 days 13:45:00 20 days 20:00:00  +329h 45m         True
4  2019 21 days 11:45:00 20 days 20:00:00   +15h 45m         True
5  2020 19 days 15:30:00 20 days 20:00:00   -29h 30m        False
6  2021 22 days 10:00:00 20 days 20:00:00   +38h 00m         True
7  2022 19 days 14:45:00 20 days 20:00:00   -30h 45m        False
8  2023  8 days 14:30:00 16 days 16:00:00  -194h 30m        False