|||
|---|---|
|Title|nwtimetracking|
|Author|numbworks|
|Version|5.0.2|
||Please check [docs/docs-nwtimetracking.md](../docs/docs-nwtimetracking.md) before proceeding.|

#### Global Modules

#### Local Modules

In [1]:
from nwtimetracking import SettingBag, ComponentBag, TimeTrackingProcessor, OPTION

#### Functions : Temp

#### Settings

In [2]:
setting_bag : SettingBag = SettingBag(
    options_tt = [OPTION.display],
    options_tt_latest_five = [OPTION.display],
    options_tts_by_month = [OPTION.display],
    options_tts_by_year = [OPTION.display],
    options_tts_by_range = [OPTION.display],
    options_tts_by_spn = [OPTION.display],
    options_tts_by_spv = [OPTION.display],
    options_tts_by_hashtag_year = [OPTION.display],
    options_tts_by_hashtag = [OPTION.display],
    options_tts_by_year_month_spnv = [OPTION.display],
    options_tts_by_timeranges = [OPTION.display],
    options_ttd_effort_status = [OPTION.display],
    excel_nrows = 1804
)

#### Main : Analysis

In [3]:
tt_processor : TimeTrackingProcessor = TimeTrackingProcessor(component_bag = ComponentBag(), setting_bag = setting_bag)
tt_processor.initialize()
tt_processor.process_tt_latest_five()
tt_processor.process_tts_by_month()
tt_processor.process_tts_by_year()
tt_processor.process_tts_by_range()
tt_processor.process_tts_by_spn()
tt_processor.process_tts_by_spv()
tt_processor.process_tts_by_hashtag_year()
tt_processor.process_tts_by_hashtag()
tt_processor.process_tts_by_year_month_spnv()
tt_processor.process_tts_by_timeranges()

#### Main : Debug

In [4]:
tt_processor.process_ttd_effort_status()