|||
|---|---|
|Title|nwtimetracking|
|Author|numbworks|
|Version|3.9.0|
||Please check [docs/docs-nwtimetracking.md](../docs/docs-nwtimetracking.md) before proceeding.|

#### Global Modules

In [1]:
from pandas import DataFrame
from typing import Optional

#### Local Modules

In [2]:
from nwtimetracking import SettingBag, DefaultPathProvider, YearProvider, SoftwareProjectNameProvider, TimeTrackingProcessor
from nwtimetracking import ComponentBag, TTMarkdownFactory
from nwpackageversions import LanguageChecker, RequirementChecker, RequirementSummary

#### Language/Requirement Checks

In [3]:
enable_language_status_check : bool = True
enable_requirement_status_check : bool = False

if enable_language_status_check:
    language_status : str = LanguageChecker().get_version_status(required = (3, 12, 5))
    print(language_status)

if enable_requirement_status_check:
    requirement_checker : RequirementChecker = RequirementChecker(logging_function = LambdaCollection().do_nothing_function())
    dockerfile_path : str = requirement_checker.get_default_devcointainer_dockerfile_path()
    requirement_status : Optional[RequirementSummary] = requirement_checker.try_check(file_path = dockerfile_path)
    print(requirement_status)

The installed Python version is matching the expected one (installed: '3.12.5', expected: '3.12.5').

#### Functions : Temp

#### Settings

In [4]:
setting_bag : SettingBag = SettingBag(
    excel_nrows = 1301,
    options_tt = ["display"],
    options_tts_by_month = ["display", "save"],
    options_tts_by_year = ["display"],
    options_tts_by_year_month = ["display"],
    options_tts_by_year_month_spnv = ["display"],
    options_tts_by_spn = ["display"],
    options_tts_by_spn_spv = ["display"],
    options_tts_by_hashtag = ["display"],
    options_tts_by_hashtag_year = ["display"],
    options_tts_by_efs = ["display"],
    options_tts_by_tr = ["display"],
    options_definitions = ["display"]
)

#### Main : Analysis

In [5]:
tt_processor : TimeTrackingProcessor = TimeTrackingProcessor(component_bag = ComponentBag(), setting_bag = setting_bag)
tt_processor.initialize()
tt_processor.process_tt()

In [6]:
tt_processor.process_tts_by_month()

This content (id: 'tts_by_month') has been successfully saved as '/home/nwtimetracking/TIMETRACKINGBYMONTH.md'.