|||
|---|---|
|Title|nwtimetracking|
|Author|numbworks|
|Version|5.0.2|
||Please check [docs/docs-nwtimetracking.md](../docs/docs-nwtimetracking.md) before proceeding.|

#### Global Modules

#### Local Modules

In [38]:
from nwtimetracking import SettingBag, ComponentBag, TimeTrackingProcessor, OPTION

#### Functions : Temp

#### Settings

In [39]:
setting_bag : SettingBag = SettingBag(
    options_tt = [OPTION.display],
    options_tts_by_month = [OPTION.display],
    options_tts_by_year = [OPTION.display],
    options_tts_by_year_month = [OPTION.display],
    options_tts_by_year_month_spnv = [OPTION.display],
    options_tts_by_year_spnv = [],
    options_tts_by_spn = [OPTION.display],
    options_tts_by_spn_spv = [],
    options_tts_by_hashtag = [OPTION.display],
    options_tts_by_hashtag_year = [OPTION.display],
    options_tts_by_efs = [OPTION.display],
    options_tts_by_tr = [OPTION.display],
    options_tts_gantt_spnv = [OPTION.display, OPTION.plot, OPTION.logterm, OPTION.logset],
    options_tts_gantt_hseq = [OPTION.display, OPTION.plot, OPTION.logterm, OPTION.logset],
    options_definitions = [],
    excel_nrows = 1804,
    tts_by_year_month_display_only_years = [2025],
    tts_by_year_month_spnv_display_only_spn = "nwknowledgebase",
    tts_by_year_spnv_display_only_spn = "nwknowledgebase",
    tts_by_spn_spv_display_only_spn = "nwknowledgebase",
    tts_gantt_spnv_months = 3,
    tts_gantt_spnv_min_duration = 1,
    tts_gantt_hseq_months = 2,
    tts_gantt_hseq_min_duration = 1
)

#### Main : Analysis

In [ ]:
tt_processor : TimeTrackingProcessor = TimeTrackingProcessor(component_bag = ComponentBag(), setting_bag = setting_bag)
tt_processor.initialize()
tt_processor.process_tt()                   # Fork this into tt_latest_five
tt_processor.process_tts_by_month()         # Remove "Month"
tt_processor.process_tts_by_year()          # Keep ["Year", "Effort"], pivot as in rls_by_year
                                            # Add tts_by_range
tt_processor.process_tts_by_spn()           # ["ProjectName", "Effort", "Hashtag"] - sort by "Effort" DESC
tt_processor.process_tts_by_spn_spv()       # ?
tt_processor.process_tts_by_hashtag()
tt_processor.process_tts_by_hashtag_year()
tt_processor.process_tts_by_tr()
tt_processor.process_tts_by_efs()           #Hide if empty
tt_processor.process_definitions()

In [41]:
# tt_processor.process_tts_by_year_month()
# tt_processor.process_tts_by_year_month_spnv()
# tt_processor.process_tts_by_year_spnv()
# tt_processor.process_tts_gantt_spnv()
# tt_processor.process_tts_gantt_hseq()